<div class="grid-view" *ngIf="view==='grid'">
    <div class="card">
        <div class="card-header">Header</div>
        <div>
            <img src="../../assets/mobile.jpg" class="card-img-top img-fluid" alt="Card Image">
        </div>
        <div class="card-body">
            <h5 class="card-title">Title</h5>
            <h6 class="card-subtitle my-2 text-primary">12 Available</h6>
            <p class="card-text description">Some example text to fill the card body.</p>
        </div>
        <div class="card-body">
            <h5 class="card-title text-success">
                Final Price
                <span class="text-primary">-20%</span>
            </h5>
            <h6 class="card-subtitle text-danger text-decoration-line-through">Original Price</h6>
        </div>
        <div class="card-footer d-grid gap-2">
            <button class="btn btn-outline-success" type="button">Add to cart</button>
        </div>
    </div>
</div>


<div class="list-view" *ngIf="view==='list'">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="../../assets/mobile.jpg" class="card-img-top img-fluid" alt="Card Image">
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">Title</h5>
                    <h6 class="card-subtitle my-2 text-primary">12 Available</h6>
                    <p class="card-text description">Some example text to fill the card body.</p>
                    <div class="card-footer d-grid gap-2">
                        <button class="btn btn-outline-success" type="button">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>