<div class="mt-2 p-4 border my-rounded-corner">
    <div class="d-flex justify-content-between align-items-center m-2">
        <h3>
            Product List
        </h3>
        <button (click)="addProduct()" class="btn btn-primary">Add Product</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Offer</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Image Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.productCategory.category }}</td>
                <td>{{ product.offer.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.imageName }}</td>
                <td>
                    <button (click)="editProduct(product.id)" class="btn btn-primary mx-2">Edit</button>
                    <button (click)="deleteProduct(product)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event" [autoHide]="true" [responsive]="true" previousLabel=""
            nextLabel=""></pagination-controls>
    </div>
</div>