<div class="my-container mx-auto border border-dark">
    <div class="mb-4 my-shadow my-rounded-corner overflow-hidden" *ngFor="let product of suggestedProducts">
        <div class="product-banner position-relative">
            <a [routerLink]="['/products']"
                [queryParams]="{ category: product.category, subcategory: product.subCategory }">
                <button class="btn btn-outline-light btn-lg">Shop Now</button>
            </a>
            <img [src]="product.photoUrl" class="w-100" alt="">
        </div>
        <div class="product-list py-5">
            <app-suggested-product [category]="product"></app-suggested-product>
        </div>
    </div>
</div>